# Ignore node modules & build artifacts
node_modules
.nitro
.nuxt
.output
.dist
.build
.cache

# Git & local files
.git
.gitignore
.DS_Store
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Docker
Dockerfile*
.dockerignore

# IDE/editor
.vscode
.idea
